@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider


<RadzenLayout style="height: 100%">
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenLabel Text="Welcome to activity Tracker" />&nbsp;&nbsp;
            <RadzenLink Text="[Sign out]" @onclick="()=>SignOut()" />            
        </RadzenStack>
    </RadzenHeader>
    <RadzenBody>
        @Body
    </RadzenBody>
    <RadzenFooter>
        <div style="text-align: center;">
            @DateTime.Today.Year
        </div>
    </RadzenFooter>
</RadzenLayout>
