@inherits LayoutComponentBase

<RadzenLayout style="height: 100%">
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenLabel Text="Welcome to activity Tracker" />       
        </RadzenStack>
    </RadzenHeader>
    <RadzenBody>
        @Body
    </RadzenBody>
    <RadzenFooter>
        <div style="text-align: center;">
            @DateTime.Today.Year
        </div>
    </RadzenFooter>
</RadzenLayout>
<RadzenComponents />